// Header
header{
    height: 60px;
}
.header_div{
    height: 60px;
    min-width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: fixed;
    background-color: #0576b9;
    border-color: #0576b9;


}
.header_div_left{
    height: 60px;
    width: 40%;
    display: flex;
    flex-direction: row;

}
.header_div_right{
    height: 60px;
    width: 40%;
    display: flex;
    flex-direction: row;
    justify-content: end;

}
.header_div_left_elementone{
    height: 60px;
    width: 32%;
    background: #121e2d;
    border-bottom: 1px solid #192a3f;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}
.header_div_left_elementtwo{
    height: 60px;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.header_div_right_elementone{
    border: solid black 2px;
    height: 60px;
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: center;

}
.header_div_right_elementwo{
    border: solid black 2px;
    height: 60px;
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
}

// // // // // //