<header>
    <div class="header_div">
        <div class="header_div_left">
            <div class="header_div_left_elementone">
                <h3>
                    Logo Alternative
                </h3>
            </div>
            <div class="header_div_left_elementtwo">
                <h3>
                Barre de recherche
                </h3>
            </div>    
        </div>
        <div class="header_div_right">
            <div class="header_div_right_elementone">
                <h4>
                    Profil
                </h4>
            </div>
            <div class="header_div_right_elementwo">
                <h4>
                    Deconnexion
                </h4>
            </div>
        </div>
    </div>
</header>