<main>
    <div>
        <div style="margin-left:20px;padding-top: 20px;">
           <h2>Arbre de navigation</h2>
        </div>
        <div>
            &nbsp;
        </div>  
    </div>  
    <div id="sidebar-menu">
        <ul class="metismenu list-unstyled">
            <ng-container>
                <li class="menu-title"></li>
                <li>
                    <a href="javascript:void(0);">
                        
                    </a>
                </li>
            </ng-container>
        </ul>
    </div>
</main>