.main{
    display: flex;
    flex-direction: column;
}
// .nav_top_bar{
// }
.div_sidebar_routeroutlet{
    display: flex;
    flex-direction: row;
    height: max-content;
}

// .main{
//     display: flex;
//     flex-direction: column;
// }
// .nav_top_bar{
// }
// .div_sidebar_routeroutlet{
//     display: flex;
//     flex-direction: row;
//     height: max-content;
// }