<div class="main">
    <nav class="nav_top_bar">
        <app-topbars></app-topbars>
    </nav>
    <div class="div_sidebar_routeroutlet">
        <nav>
            <app-sidebars></app-sidebars>
        </nav>
        <div style="min-width: 87%;">
            <router-outlet></router-outlet>
        </div>    
    </div>
</div>


<!-- <a routerLink="/catalogue">Catalogue</a> -->
<!-- <div class="main">
    <nav class="nav_top_bar">
        <app-topbars></app-topbars>
    </nav>
    <div class="div_sidebar_routeroutlet">
        <nav>
            <app-sidebars></app-sidebars>
        </nav>
        <div style="border: 1px solid orange;min-width:100%;">
            <router-outlet></router-outlet>
        </div>    
    </div>
</div> -->